doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/application.css')
    script(src='/javascripts/vendor/jquery-1.11.0.min.js')
    script(src='/javascripts/vendor/d3.v3.min.js')
    script(src='/javascripts/application.js')
  body
    block content
