doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/application.css')
    script.
      window.config = {};
      window.config.musicMap = {
        endpoint: '#{musicMapConfig.endpoint}',
        host: '#{musicMapConfig.host}',
      };
      window.config.fooBar = 'bar';
    script(src='/application.js')
  body
    block content
